:root {
    --primary-font: "SF Pro Display";
    --secondary-font: "Sohne Breit";
}

:root {
    --btn: radial-gradient(155.26% 155.26% at 9.72% -15.28%, rgb(78, 249, 131) 0%, rgb(2, 228, 146) 100%);
    --text: radial-gradient(155.26% 155.26% at 9.72%  -15.28%, rgb(78, 249, 131) 0%, rgb(2, 228, 146) 100%);
    --radius-30: 30px;
    --radius-15: 15px;
    --radius-circle: 50%;
}